*.lock
terraform_files/.terraform.lock.hcl
terraform_files/.terraform/
terraform_files/terraform.tfstate
terraform_files/terraform.tfstate.backup
src/pyspark/__pycache__/
tests/__pycache__/
src/pyspark/utils/__pycache__/